<!-- 

/*
* File: tomtesin.html
* Author: Megyeri Márk Máté
* Copyright: 2022, Megyeri Márk Máté
* Group: Szoft I/N
* Date: 2021-05-26
* Github: https://github.com/megyerimark/
* Licenc: GNU GPL
*/ -->
 

<h2>Testömegindex számítás</h2>



<form action="calc.php" method="GET">


<div>

<label for="tomeg" class="form-abel">Tömeg (kg)</label>
<input type="text" name="tomeg" id="tomeg">

</div>

<div>

<label for="magassag" class="form-abel">Magasság (cm)</label>
<input type="text" name="magassag" id="magassag">

</div>

<button type="submit" name="submit" class="btn btn-outline-danger">számítás</button>





</form>